.showcase .topnav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li{
    display: inline;
}

.showcase-top{
    position: relative;
    z-index: 2;
    height: 60px;
}

.showcase-top img{
    width: 170px;
    position: absolute;
    top: 90%;
    left: 12%;
    transform: translate(-50%, -100%);

}
.style {
    box-sizing: border-box;
    }
    body{margin: 1%;
        background: url(./contactUsBackground.jpg) no-repeat center fixed;
        background-size: cover;
    }
    .header {
        background-color: black;
        padding: 20px;
        text-align: center;
    }
    .topnav{
        overflow: hidden;
        background-color: transparent;
    }
    .topnav a{
        float: right;
        display: block;
        color: white;
        text-align: center;
        padding: 15px 16px;
        text-decoration: none;
    }
    .topnav a:hover{
        background-color: white;
        color: black;
    }
   .style{
    box-sizing: border-box;
   }
   input[type=text], select, textarea{
    width: 50%;
    padding: 6px;
    border: 3px solid #ccc;
    border-radius: 4px;
    resize: vertical;
   }
   label{
    padding: 6px 6px 6px 6px;
    display: inline-block;
   }
   input[type=submit]{
    background-color: #04aa6d;
    color: white;
    padding: 10px 30px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    float: left;
   }
   input[type=submit]:hover{
    background-color: red;
   }
   .fa{
    border-radius: 20%;
   }
  